/* @import url('https://fonts.googleapis.com/css2?family=K2D&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DB-Adman-X-Bd;
  src: url("../public/static/fonts/DB-Adman-X-Bd.ttf");
}
@font-face {
  font-family: 'DBHeaventRounded';
  src: url("../public/static/fonts/DBHeaventRounded.ttf");
}
@font-face {
  font-family: DBHeaventRoundedBdCond;
  src: url("../public/static/fonts/DBHeaventRoundedBdCond.ttf");
}
@font-face {
  font-family: 'DBHeaventRoundedBd';
  src: url("../public/static/fonts/DBHeaventRoundedBd.ttf");
}
@font-face {
  font-family: "K2D-Bold";
  src: url("../public/static/fonts/K2D-Bold.ttf");
}
@font-face {
  font-family: "K2D-Regular";
  src: url("../public/static/fonts/K2D-Regular.ttf");
}
@font-face {
  font-family: "DBGinSiamX";
  src: url("../public/static/fonts/DBGinSiamX.ttf");
}
@font-face {
  font-family: DBGinSiamXLi;
  src: url("../public/static/fonts/DBGinSiamXLi.ttf");
}
@font-face {
  font-family: Mitr-Medium;
  src: url("../public/static/fonts/Mitr-Medium.ttf");
}
@font-face {
  font-family: Prompt-Black;
  src: url("../public/static/fonts/Prompt-Black.ttf");
}
@font-face {
  font-family: Prompt-Regular;
  src: url("../public/static/fonts/Prompt-Regular.ttf");
}
@font-face {
  font-family: DBHelvethaicaX;
  src: url("../public/static/fonts/DBHelvethaicaX.ttf");
}

@font-face {
  font-family: Kodchasan-Regular;

  src: url("../public/static/fonts/Kodchasan-Regular.ttf");
}

@layer components {
  .mad-text-big {
    font-size: 1.05rem;
    line-height: 2rem;
  }
}
.subtext {
  @apply  indent-5 text-lg leading-loose text-[#000000bf] ;
}
.text-subtext {
  @apply leading-relaxed tracking-wider mad-text-big font-Kodchasan text-black 
}
.title-border {
  @apply  drop-shadow-xl  mb-11 border-b border-[#e3e3e3]
}
.title-text {
  @apply font-Prompt font-normal  text-f4xl
}
.text-Athiti {
  @apply font-Athiti not-italic font-normal text-[#0b132a] text-2xl leading-9  tracking-wide
}
.subtext-Athiti {
  @apply font-Athiti not-italic font-normal text-[#525864] text-lg leading-9  tracking-wide
}