@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DB-Adman-X-Bd";
  src: url("/assets/fonts/DB-Adman-X-Bd.ttf");
}
@font-face {
  font-family: "DBHeaventRounded";
  src: url("/assets/fonts/DBHeaventRounded.ttf");
}
@font-face {
  font-family: "DBHeaventRoundedBdCond";
  src: url("/assets/fonts/DBHeaventRoundedBdCond.ttf");
}
@font-face {
  font-family: "DBHeaventRoundedBd";
  src: url("/assets/fonts/DBHeaventRoundedBd.ttf");
}
@font-face {
  font-family: "K2D-Bold";
  src: url("/assets/fonts/K2D-Bold.ttf");
}
@font-face {
  font-family: "K2D-Regular";
  src: url("/assets/fonts/K2D-Regular.ttf");
}
@font-face {
  font-family: "DBGinSiamX";
  src: url("/assets/fonts/DBGinSiamX.ttf");
}
@font-face {
  font-family: "DBGinSiamXLi";
  src: url("/assets/fonts/DBGinSiamXLi.ttf");
}
@font-face {
  font-family: "DBGinSiamXBd";
  src: url("/assets/fonts/DBGinSiamXBd.ttf");
}

.subtext {
  @apply  indent-5 text-lg leading-loose text-[#000000bf] ;
}